/* FONT, MEDIA */
@font-face {
  font-family: "Soyuz Grotesk";
  src: url('../fonts/soyuz-grotesk/Soyuz\ Grotesk\ Bold.woff') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@525&display=swap');
@media (max-width:767px) {
  main .col{
    min-width: 100%;
  }
  #feature .col-6{
    min-width: 100%;
  }
  #feature .col-4{
    min-width: 100%;
  }
  footer .col{
    min-width: 100%;
  }
  footer .col-2{
    min-width: 33%;
  }
  .podcast .col{
    min-width: 100%;
  }
  footer .col{
    margin-top: 20px;
  }

  #article h1{
    font-size: 22pt;
  }

}

@media (max-width:767px){
 .{
   min-width: 100%;
   height: auto;
 }
}

.wrapper{
  height: auto;
  background-color: #1b1d1e;
}

/* -- MAIN CSS CODE--  */
body{
  font-family: 'Soyuz Grotesk';
  background-color: #0A0A0A;
  color: #d1cdc7;
  }

.conteiner{
  max-width: 1180px;
  margin: auto;
  padding: 0px 15px;
}

.our-fonts{
  font-family: 'Montserrat', sans-serif;
}

.border-1{
  border-radius: 1rem;
}

.border-half{
  border-radius: 0.5rem;
}


.modal {
  display: none;
  position: fixed;
  z-index: 50;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 700px;
}

.sign-up{
  display: block;
}

.form-registration{
  display: none;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.block-1{
  display: contents;
}
/*--Sidebar--*/

.sidenav1 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #222;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:  #1E1E1E
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}


.icon-menu{
  font-size: 30px;

}

.sidebar-btn{
  margin-left: 30px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* -- Header  and Base --*/
header{
  background-color: #060607 ;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(51, 46, 46, 0.87);
}


.navbar{
  padding: 0.8em 0 0.8em 0;
  color:  #d1cdc7;
}

.navbar-brand{
  font-size: 1.5rem;
}

.navbar-toggler{
  border: 0;
}

.nav-item{
  padding: 0 10px;
}

.nav-link{
  font-size: 1.4rem;
}

.hover-link a::after{
  content: "";
  background: white;
	mix-blend-mode: exclusion;
  width: calc(100% + 20px);
  height: 0;
  position: absolute;
  left: -10px;
	transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

 a:hover::after{
	height: 50px;
}

.white-color{
  color: #ffffff;
  letter-spacing: 2px;
}

.hover-s-link:hover{
  color: #060607;
  background-color: #d1cdc7;
}

.btn-light{
  background-color: inherit;
  border: none;
  border-radius: 40%;
}

.dm-dtn{
  margin-right: 5px;
}

.btn-dark{
  border-radius: 40%;
}

header button{
  border: 2px;
  background-color: inherit;
  padding: 0 35px 25px 0;
  color:  #d1cdc7;
}
/* nav-icon*/
.nav-icon{
  margin: 0;
  width: 25px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.nav-icon span{
  background-color: gray;
  margin-bottom: 12px;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width:100%;
  height: 3px;
}
.nav-icon span:nth-child(1){
  top:0px;
  left: 0px;
}
.nav-icon span:nth-child(2){
  top:12px;
  left: 0px;
}
.nav-icon span:nth-child(3){
  top: 24px;
  left: 0px;
}
.nav-icon.close span:nth-child(1){
  top: 0px;
}
.nav-icon.close span:nth-child(2){
  top:12px;
}

.nav-icon.close span:nth-child(2){
  top:12px;
}
.nav-icon.close span:nth-child(3){
  top: 24px;
}
.nav-icon:not(.open):hover span:nth-child(1){
  transform: scaleX(.8);
}
.nav-icon:not(.open):hover span:nth-child(2){
  transform: scaleX(.5);
}
.nav-icon:not(.open):hover span:nth-child(3){
  transform: scaleX(.8);
}
.nav-icon.open span:nth-child(1){
  top: 12px;
}
.nav-icon.open span:nth-child(2){
  top:12px;
}
.nav-icon.open span:nth-child(3){
  top: 12px;
}

.place-right{
  margin-left: auto;
  margin-right: 0.2rem;
  flex-grow: 0;
}


/* MAIN */
main{
  width: 80%;
}

.main_block {
  background-color: #0A0A0A;
  visibility: visible;
  color:#aaaaaa;
}

.main_block .conteiner{
  padding: 2em 1em;
  margin-top: 0em;
  margin-bottom: 0em;
}

.left-nav{
  width: 18%;
  float: left;
  display: block;
}

.base-block{
  float: left;
  width: auto;
  display: block;
}
.bg-color{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0) 20%, rgba(0,0,0,1) 60%);
  overflow: hidden;
}

.black-bg{
  color:#f1f1f1;
  background-color: #0A0A0A;
  border: #aaaaaa;
  border-width: 5px;
}


.bg-color img{
  opacity: 0.65;
  transition: opacity 100ms linear, transform 100ms linear;
}

.bg-color:hover img{
  opacity: 0.85;
}

.profile_box{
  font-family: 'Montserrat';
}

.card-profile{
  position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: hsl(0deg 0% 100%);
    background-clip: border-box;
    border: 1px solid hsl(0deg 0% 0% / 13%);
    border-radius: 0.25rem;

}

.message_box{
  height: 620px;
  max-height: 620px;
  overflow-y: auto;
}

.text-btn{
  margin-left: 2em;
}

.text-box{
  margin-bottom: 1em;
  width: 100%;
  font-size: 14pt;
}


/*------------ Footer ------------*/
footer{
  width:none;
  background-color:  #060607;
  color: #e8e6e3;
  padding-top: 3em;
  padding-bottom: 2em;
  margin-top: 0;
  border: 1px solid rgba(51, 46, 46, 0.87);
}


.footer .nav-link:hover {
  color: #ffffff;
}




